<div class="layui-form model-form" id="add-form">
  <form  id="job-form" lay-filter="job-form">
     
     <div class="layui-form-item">
         <label class="layui-form-label">单位:</label>
         <div class="layui-input-inline">
            <select name="company_id" id="company_id" lay-verify="required" autocomplete="off" >
              <option >选择单位</option>
            </select>             
         </div>
     </div>

     <div class="layui-form-item">
         <label class="layui-form-label">职位名称:</label>
         <div class="layui-input-inline">
          <input type="text" name="name" id="name"   lay-verify="required" autocomplete="off"  placeholder="职位名称" class="layui-input" >
         </div>
     </div>
    <div class="layui-form-item">
         <label class="layui-form-label">职位信息:</label>
         <div class="layui-input-inline">
          <input type="text" name="info" id="info"   lay-verify="required" autocomplete="off"  placeholder="职位信息" class="layui-input" >
         </div>
     </div>
      <div class="layui-form-item">
         <label class="layui-form-label">职位等级:</label>
         <div class="layui-input-inline">
          <input type="text" name="grade" id="grade"   lay-verify="required" autocomplete="off"  placeholder="职位等级" class="layui-input" >
         </div>
     </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="job-form-submit" lay-submit>保存</button>
    </div>
  </form>
</div>
<script type="text/javascript"  src="/assets/module/sys/job/add.js?v=0.0.1"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>