  <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
      <a lay-href="">內容管理</a>
      <a><cite>资源</cite></a>
      <a><cite>图片资源</cite></a>
    </div>
  </div>
<div class="layui-fluid layadmin-cmdlist-fluid">
  <div class="layui-row layui-col-space30" id="imgs-flow-auto">

  <!--圖片資源開始-->
   <!--  <div class="layui-col-md2 layui-col-sm4">
      <div class="cmdlist-container">
      <a href="javascript:;">
        <img src="http://www.ceh.com.cn/upload/Image/2018/12/07/01/images/0-8-small.jpg">
      </a>
      <a href="javascript:;">
        <div class="cmdlist-text">
          <p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
          <div class="price">
              <b>￥79</b>
              <p>
                ¥
                <del>130</del>
              </p>
              <span class="flow">
                <i class="layui-icon layui-icon-rate"></i>
                433
              </span>
          </div>
        </div>
      </a>
      </div>
    </div> -->
  <!--圖片資源結束-->
    </div>
  </div>



  <script type="text/javascript"  src="/assets/module/sys/resource/img.js?v=0.0.1"></script>
  <script type="text/javascript">
    layui.use('element',function(){
      Lay(layui);
    });
  </script>

