<!-- user表单弹窗 -->
<form id="tag-form" lay-filter="tag-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <!--<div class="layui-form-item" style="display: none;">-->
        <!--<label class="layui-form-label">账号</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input id="name" name="name" placeholder="请输入账号" type="text" class="layui-input u_name"  maxlength="20" lay-verify="required"/>-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input name="title" placeholder="请输入" type="text" class="layui-input" maxlength="20"
                   lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item type-show">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea name="content" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="tag-form-submit" lay-submit type="button">保存</button>
    </div>
</form>
<script type="text/javascript"  src="/assets/module/sys/notify/set.js"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>