<form id="menu-form" lay-filter="menu-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input name="menu_name" placeholder="请输入菜单名称" type="text" class="layui-input" maxlength="20"
                   lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限别名</label>
        <div class="layui-input-block">
            <input name="alias" placeholder="请输入权限别名" type="text" class="layui-input" maxlength="64"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="menu_type" lay-verify="required" lay-filter="menu_type">
                <option value="1" selected="selected">目录</option>
                <option value="2">菜单</option>
                <option value="3">按钮</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择图标</label>
        <div class="layui-input-block">
            <input type="text" id="iconPicker" name="icon" lay-filter="iconPicker" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单路径</label>
        <div class="layui-input-block">
            <input name="path" placeholder="请输入菜单路径" type="text" class="layui-input" maxlength="64"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">路由</label>
        <div class="layui-input-block">
            <input name="router" placeholder="请输入路由" type="text" class="layui-input" maxlength="64"/>
        </div>
    </div>
    <!--<div class="layui-form-item" id="pathDiv" style="display: none">-->
        <!--<label class="layui-form-label">菜单路径</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input name="path" placeholder="请输入路径" type="text" class="layui-input" maxlength="64" lay-verify=""/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-form-item" id="routerDiv" style="display: none">-->
        <!--<label class="layui-form-label">路由</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input name="router" placeholder="请输入路由地址" type="text" class="layui-input" maxlength="64" lay-verify=""/>-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">状态 </label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="正常" checked="checked">
            <input type="radio" name="status" value="1" title="禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select id="parentId" name="parent_id" lay-filter="parentId" lay-verify="required">
                <option value="">请选择</option>
                <option value="0">首级菜单</option>
                <option p-for="parents" p-bind="value:{{id}}">{{name}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" id="resourceIdsDiv" style="display: none">
        <label class="layui-form-label">对应资源</label>
        <div class="layui-input-block">
            <select name="resourceIds" xm-select="resourceIds" xm-select-search="" xm-select-max="5">
            </select>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="menu-form-submit" lay-submit>保存</button>
    </div>
</form>
<script type="text/javascript"  src="/assets/module/sys/menu/add.js?v=0.0.1"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>