<!-- user表单弹窗 -->
<form id="tag-form" lay-filter="tag-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <!--<div class="layui-form-item" style="display: none;">-->
        <!--<label class="layui-form-label">账号</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input id="name" name="name" placeholder="请输入账号" type="text" class="layui-input u_name"  maxlength="20" lay-verify="required"/>-->
        <!--</div>-->
    <!--</div>-->
    <!-- <div class="layui-form-item">
        <label class="layui-form-label">操作名称</label>
        <div class="layui-input-block">
            <input name="name" placeholder="请输入操作名称" type="text" class="layui-input" maxlength="20"
                   lay-verify="required"/>
        </div>
    </div> -->
    <div class="layui-form-item">
        <label class="layui-form-label">次数/日</label>
        <div class="layui-input-block">
            <input name="max_num" placeholder="请输入操作名称" type="text" class="layui-input" maxlength="20"
                   lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">积分值/次</label>
        <div class="layui-input-block">
            <input name="add_num" placeholder="请输入操作名称" type="text" class="layui-input" maxlength="20"
                   lay-verify="required"/>
        </div>
    </div>
<!--    <div class="layui-form-item type-show">-->
<!--        <label class="layui-form-label">标签类型</label>-->
<!--        <div class="layui-input-block">-->
<!--            <select name="type" id="type"  lay-verify="required">-->
<!--                <option value="">请选择</option>-->
<!--                <option value="0">文章</option>-->
<!--                <option value="1">用户</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="tag-form-submit" lay-submit type="button">保存</button>
    </div>
</form>
<script type="text/javascript"  src="/assets/module/sys/integral/setIntegral.js"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>