<script type="text/html" id="articleTool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal" lay-event="imgExp">图片导入</button>
    </div>
</script>
<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">发布管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>发布管理</cite></a>
          <a><cite>首页轮播图</cite></a>
            <!--首页/ 发布管理/ 首页轮播图-->
        </span>
    </div>
    <div class="layui-card-body">
        <!-- 搜索条件 -->
        <div class="layui-form toolbar" style="display: none;">
            <form id="searchForm" onsubmit="return false;">
                文章id：<input name="info_id" class="layui-input search-input" type="text" placeholder="输入文章id"/>&emsp;
                文章标题：<input name="title" class="layui-input search-input" type="text" placeholder="输入文章标题"/>&emsp;
                状态：<select name="status" lay-verify="">
                <option value="">请选择状态</option>
                <option value="2">发布</option>
                <option value="3">下架</option>
            </select>
                有无封面：<select name="isFace" lay-verify="">
                <option value="">请选择状态</option>
                <option value="1">有</option>
                <option value="0">无</option>
            </select>
                类型：<select name="category_id" lay-verify="" id="category">
                <option value="">请选择类型</option>
            </select>
                <button id="user-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            </form>
        </div>
        <!-- 表格顶部操作列 -->
        <table class="layui-table" id="user-table" lay-filter="user-table"></table>
    </div>
</div>
<script type="text/html" id="faceHtml">
    <div id="layer-photos-{{d.id}}" class="layer-photos-demo">
        <img style="height:28px"
             data-img="{{d.coverPath}}"
             layer-src="{{d.coverPath}}"
             alt="图片"
             src="{{d.coverPath}}">
    </div>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="user-table-bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="publish-delete">删除</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="publish-tpl-status">
    <input type="checkbox" lay-filter="publish-tpl-status" value="{{d.id}}" lay-skin="switch"
           lay-text="发布|下架" {{d.status==2?'checked':''}}/>
</script>
<script type="text/javascript" src="/assets/module/sys/publish/indexBanner.js"></script>
<script type="text/javascript">
    layui.use('element', function () {
        Lay(layui);
    });
</script>
