<div class="layui-card">
    <div class="layui-card-body">
        <!-- <div class="layui-btn-group">
            <button class="layui-btn all">获取全部数据</button>
            <button class="layui-btn left">获取左边数据</button>
            <button class="layui-btn right">获取右边数据</button>
        </div> -->
        <div id="root" class="layui-form-item"></div>
        <div id="root1" class="layui-form-item"></div>
    </div>
</div>
<script type="text/javascript"  src="/assets/module/sys/type/app/add.js?v=0.0.1"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>