 <div class="layui-card">
        <div class="layui-card-header">本周活跃用户列表</div>
        <div class="layui-card-body">
          <table class="layui-table layuiadmin-page-table" lay-skin="line">
            <thead>
              <tr>
                <th>用户名</th>
                <th>最后登录时间</th>
                <th>状态</th>
                <th>获得赞</th>
              </tr> 
            </thead>
            <tbody>
              <tr>
                <td>许上进</td>
                <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                <td><span>在线</span></td>
                <td>21 <i class="layui-icon layui-icon-praise"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>