<div class="layui-card">
        <div class="layui-card-header">用户全国分布</div>
        <div class="layui-card-body">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-sm4">
              <table class="layui-table layuiadmin-page-table" lay-skin="line">
                <thead>
                  <tr>
                    <th>排名</th>
                    <th>地区</th>
                    <th>人数</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>浙江</td>
                    <td>62310</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>上海</td>
                    <td>59190</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>广东</td>
                    <td>55891</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>北京</td>
                    <td>51919</td>
                  </tr>  
                  <tr>
                    <td>5</td>
                    <td>山东</td>
                    <td>39231</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>湖北</td>
                    <td>37109</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="layui-col-sm8">

              <div class="layui-carousel layadmin-carousel" data-anim="fade" lay-filter="LAY-index-pagethree">
                <div carousel-item id="LAY-index-pagethree">
                  <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>