<div class="layui-card">
    <div class="layui-card-header">用户评论</div>
    <div class="layui-card-body">
      <ul class="layuiadmin-card-status layuiadmin-home2-usernote" id="userComment">

       <!--  <li>
          <h3>贤心</h3>
          <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
          <span>5月30日 00:00</span>
          <a href="javascript:;" layadmin-event="replyNote" data-id="7" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
        </li> -->

      </ul>
    </div>
  </div>