<div class="layui-card-header">
    <h2 class="header-title">修改密码</h2>
</div>
<div class="layui-card-body" style="padding: 30px;">
    <form class="layui-form" id="form-password">
        <div class="layui-form-item">
            <input type="password" name="oldPassword" required lay-verify="required|password" class="layui-input"
                   placeholder="请输入原密码" lay-verType="tips" onkeydown="if(event.keyCode==32) return false"/>
        </div>
        <div class="layui-form-item">
            <input type="password" name="newPassword" required lay-verify="required|password" class="layui-input"
                   placeholder="请输入新密码" lay-verType="tips" onkeydown="if(event.keyCode==32) return false"/>
        </div>
        <div class="layui-form-item">
            <input type="password" name="reNewPwd" required lay-verify="required|repassword" class="layui-input"
                   placeholder="再次输入新密码" lay-verType="tips" onkeydown="if(event.keyCode==32) return false"/>
        </div>
        <div class="layui-form-item">
            <button type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="submit-psw">确认修改</button>
        </div>
        <input type="hidden" name="id" id="id">
    </form>
</div>

<script>
  
    layui.use(['form', 'jquery', 'config'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var config = layui.config;

        var user = config.getUser();
        function onConnectionChange() {
  if (navigator.onLine == false) {
    setTimeout(function() {
      layer.msg("网络错误,请检查网络连接");
    }, 2000);
  }
  // console.log('是否联网:');
  // console.log(navigator.onLine);
  // const { rtt, downlink, effectiveType, saveData } = navigator.connection;
  // console.log(`有效网络连接类型: ${effectiveType}`);
  // console.log(`估算的下行速度/带宽: ${downlink}Mb/s`);
  // console.log(`估算的往返时间: ${rtt}ms`);
  // console.log(`打开/请求数据保护模式: ${saveData}`)
}



        $('#id').val(user.id);
        //监听提交
        form.on('submit(submit-psw)', function (data) {
            navigator.connection.addEventListener("change", onConnectionChange);
            layer.load(2);
            var reqData = data.field;
            reqData['id'] = user.id;
            $.post(config.serverUrl+'admin/updatePassword', reqData, function (d) {
                d = JSON.parse(d);
                layer.closeAll();
                if(d.code == '200'){
                    layer.alert('密码修改成功')
                }else{
                    layer.alert(d.msg)
                }
                // layer.msg('密码修改成功，请重新登录', {icon: 1}, function () {
                //     config.removeAll();
                // });
            });
            return false;
        });

        //添加表单验证方法
        form.verify({
            password: [/^[\S]{5,12}$/, '密码必须5到12位，且不能出现空格'],
            repassword: function (t) {
                if (t !== $('#form-password input[name=reNewPwd]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>