<form id="sensitive-form" lay-filter="sensitive-form" class="layui-form model-form">
    <input name="f_id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">敏感词</label>
        <div class="layui-input-block">
            <input name="f_words" placeholder="请输入敏感词" type="text" class="layui-input" maxlength="20"
                   lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="f_type" lay-verify="required" lay-filter="menu_type">
                <option value="">请选择状态</option>
                <option value="反动">反动</option>
                <option value="暴恐">暴恐</option>
                <option value="民生">民生</option>
                <option value="色情">色情</option>
                <option value="贪腐">贪腐</option>
                <option value="其他">其他</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="menu-form-submit" lay-submit>保存</button>
    </div>
</form>
<script type="text/javascript"  src="/assets/module/sys/sensitivewords/add.js?v=0.0.1"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>