<script type="text/html" id="barDemo">
    {{# if(d.is_del==0){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
    {{# } }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
</script>

<div class="layui-fluid">
   <div class="crumb-caption">
      <span class="crumb">
        <a href="/">首页</a>
        <a href="javascript:;"> /敏感词列表</a>
      </span>
  </div>
  <div class="layui-card">
   <div class="layui-form layui-card-header layuiadmin-card-header-auto">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">ID</label>
              <div class="layui-input-block">
                <input type="text" name="id" placeholder="请输入" id="id" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">敏感词</label>
              <div class="layui-input-block">
                <input type="text" name="f_words" id="f_words" placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">类型</label>
              <div class="layui-input-block">
                  <select name="f_type" id="f_type" lay-verify="">
                      <option value="">请选择状态</option>
                      <option value="反动">反动</option>
                      <option value="暴恐">暴恐</option>
                      <option value="民生">民生</option>
                      <option value="色情">色情</option>
                      <option value="贪腐">贪腐</option>
                      <option value="其他">其他</option>
                  </select>
              </div>
            </div>
            <div class="layui-inline">
              <button class="layui-btn reload-btn layui-btn-normal" data-type="reload">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="layui-card-body">
          <div style="padding-bottom: 10px;">
          </div>
           <script type="text/html" id="tagTool">
            <div class="layui-btn-container">
                <button class="layui-btn layuiadmin-btn-useradmin layui-btn-normal" data-type="batchdel" lay-event="getCheckData">删除</button>
               <button class="layui-btn layuiadmin-btn-useradmin layui-btn-normal" data-type="add" id="add">添加</button>
            </div>
          </script>
          <table class="layui-table" id="tags-table" lay-filter="tags-table">
          </table>
    </div>
</div>
 <div class="form-dv" id="add-form" style="display:none;">
        <form  class="layui-form layer-form" id="addForm">
           <input type="hidden" name="f_id" id="f_id" lay-verify="required" autocomplete="off"  class="layui-input" >

           <div class="layui-form-item">
               <label class="layui-form-label">敏感词:</label>
               <div class="layui-input-inline">
                   <input type="text" name="f_words" id="f_words"    lay-verify="required" autocomplete="off"  placeholder="请输入敏感词" class="layui-input" >
               </div>
           </div>
           <div class="layui-form-item">
              <label class="layui-form-label">类型:</label>
              <div class="layui-input-inline">
                  <select name="f_type" id="f_type" lay-verify="">
                      <option value="">请选择状态</option>
                      <option value="反动">反动</option>
                      <option value="暴恐">暴恐</option>
                      <option value="民生">民生</option>
                      <option value="色情">色情</option>
                      <option value="贪腐">贪腐</option>
                      <option value="其他">其他</option>
                  </select>
            </div>
          </div>
        </form>
     </div>
<script src="/assets/module/sys/sensitivewords/sensitivewords.js?v=0.1.6"></script>
<script type="text/javascript">
  layui.use('element',function(){
    Lay(layui);
  });
</script>